amqp==5.0.6
autopep8==1.5.6
bcrypt==3.2.0
billiard==3.6.4.0
blinker==1.4
cached-property==1.5.2
celery==5.1.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
Flask==1.1.2
Flask-SSE==1.0.0
gevent==21.1.2
greenlet==1.1.0
idna==2.10
importlib-metadata==4.4.0
itsdangerous==1.1.0
Jinja2==2.11.3
kombu==5.1.0
MarkupSafe==1.1.1
passlib==1.7.4
prompt-toolkit==3.0.18
pycodestyle==2.7.0
pycparser==2.20
pymongo==3.11.3
pytz==2021.1
redis==3.5.3
requests==2.25.1
sentry-sdk==1.0.0
six==1.15.0
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.4
uWSGI==2.0.19.1
vine==5.0.0
waitress==2.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
